.container {
    max-width: 48rem;
    padding: 0 1rem;
    margin: .5rem auto 6rem;
}

@media screen and (min-width: 64rem) {
    .container {
        max-width: 64rem;
        padding: 4rem 1rem;
    }
}

.topActions, .topActions a {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    justify-content: flex-end;
    color: var(--color-text-primary);
}

.topActions .buttonLink {
    max-height: 32px;
    max-width: 32px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backTo {
    margin: 3rem 0 0;
}

.largeSocialRow {
    display: flex;
}

.socialIcon {
    width: 3rem;
    height: 3rem;
    padding: .7rem;
    border-radius: 2.5rem;
    background-color: #ededed;
    color: #333;
    margin: 4px;
}

.profileContainer {
    margin: 4px;
}

.profileContainer > * {
    overflow: visible !important;
}

.profileContainer > img {
    overflow: hidden !important;
}

.socialIcon:hover {
    transition: all 0.3s;
    box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
}

.profilePic:hover {
    transition: all 0.3s;
    box-shadow: 0 2px 12px -3px rgba(0,0,0,0.5);
}
