.postItem {
  margin-bottom: 2em;
}

.postContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.postContent {
  flex: 2 1 auto;
}

.featureImageContainer {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  max-width: 400px;
  min-width: 200px;
  max-height: 250px;
  overflow: hidden;
  border-radius: var(--radius-sm);
}

.placeholderImage {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--color-bg-deemphasized);
  background-image: linear-gradient(45deg, var(--color-placeholder-bg-start), var(--color-placeholder-bg-end));
  color: var(--color-text-deemphasized);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  text-align: center;
}

.placeholderIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  padding: 16px;
}

.placeholderIconSvg {
  margin-right: 8px;
  height: 100%;
  width: 100%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.featuredImage {
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
}

.tag {
  display: inline-block;
  color: var(--color-link-deemphasized);
  padding-right: 4px;
  margin-right: 8px;
  font-size: 0.75em;
  letter-spacing: 0.04em;
}

.tagActive {
  font-weight: 700;
}
