body,
body[data-theme="light"] {
    --color-primary: #00809d;
    --color-text-primary: #27201a;
    --color-text-secondary: #00809d;
    --color-text-deemphasized: #555577;
    --color-link: #8d1ab7;
    --color-link-deemphasized: #9b7da7;
    --color-bg-primary: #fff;
    --color-bg-toggle: #00809d;
    --color-bg-thumb: white;
    --color-border: #ccccee;
    --color-placeholder-bg-start: #f5f5f5;
    --color-placeholder-bg-end: #e0e0e0;
}

body[data-theme="dark"] {
    --color-primary: #7798AB;
    --color-text-primary: #d8d8d8;
    --color-text-secondary: #7798AB;
    --color-text-deemphasized: #9ca6a9;
    --color-link: #b899cd;
    --color-link-deemphasized: #C4B7C7;
    --color-bg-primary: #0d1b1e;
    --color-bg-toggle: #2f3334;
    --color-bg-thumb: #A879C7;
    --color-border: #3c5358;
    --color-placeholder-bg-start: #25383c;
    --color-placeholder-bg-end: #061113;
}

html,
body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    transition: background 0.25s ease-in-out;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-secondary);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--color-link);
}

img {
    max-width: 100%;
    display: block;
}

.hljs {
    font-size: 14px;
}

hr {
    border-color: var(--color-border);
}

.toc {
    margin: 8px 0;
    border: 1px solid var(--color-border);
}
